*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Luckiest Guy';
    background-color: #e6e6ea;
    position: relative;
}

.container{
    padding: 20px;
    overflow: hidden;
    background-color: rgb(255,115,0);
}

.container h1{
    font-size: 4vw;
    float: left;
    margin-left: 10%;
    color: white;
}

.container ul{
    list-style-type: none;
    font-size: 2vw;
    margin-left: 55%;
}

.container li{
    margin-top: 10px;
    float: left;
    padding: 0 20px 0 20px;
}

.container a{
    text-decoration: none;
    color: white;
}

.current a::after{
    content: '_';
    background-color: white;
    font-size: 0.5vw;
    display: block;
}

.wrapper{
    display: grid;
    grid-template-columns: 82% 18%;
}

.equation{
    font-size: 4vw;
    background-color: rgb(255,255,0);
    border-radius: 3px;
    text-align: center;
    padding-top: 15%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.equation h1{
    display: inline;
    padding: 20px;
}

.answer-options{
    font-size: 4vw;
    margin-right: 10px;
}

.answer-options h1{
    cursor: pointer;
    color: whitesmoke;
    border-radius: 3px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}


#option1{
    background-color: #fe4a49;
    transition: 0.5s;
}

#option1:hover{
    color: #fe4a49;
    background-color: white;

}

#option2{
    background-color: #2ab7ca;
    transition: 0.5s;
}

#option2:hover{
    color: #2ab7ca;
    background-color: white;

}

#option3{
    background-color: #fed766;
    transition: 0.5s;
}

#option3:hover{
    color: #fed766;
    background-color: white;

}

.container h1 a:hover{
    font-size: 4.2vw;
    color: black;
}

.container h1 a:active{
    font-size: 3.5vw;
}

.container a{
    transition: 0.2s ease-in-out;
}

.container a:hover{
    color: whitesmoke;
    font-size: 2.2vw;
}

.container li a.active, .container li a:hover{
    background: #ff9843;
    transition: .2s;
}

.container li a{
    padding: 8px;
    border-radius: 5px;
}

.container ul li a:active{
    font-size: 2vw;
}
footer{
    position: absolute;
    bottom: 1000;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p{
   float: left;
   font-size: 14px;
   word-spacing: 2px;
   text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu{
  float: right;
}

.footer-menu ul{
  display: flex;
}

.footer-menu ul li{
padding-right: 10px;
display: block;
}

.footer-menu ul li a{
  transition: all 0.3s;
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover{
    color: #27bcda;
}

@media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }

main{
    min-height: calc(100vh - 80px - 242px);
    padding-bottom: 10%;
}